a,
a:hover,
a:focus {
	text-decoration: underline;
	display: block;
	padding: 0.5rem 1rem;
	color: #000;
	font-size: 1.5em;
}

.navbar {
	position: relative;
	display: flex;
	margin: auto;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
}

.navbar-brand {
	font-family: 'Inria', 'Roboto', serif;
	text-decoration: none;
	margin: 0;
	font-weight: bold;
	font-size: xx-large;
	margin-right: 2.5rem;
}

.navbar-brand p {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.nav_home::after {
	content: '';
	width: 100%;
	height: 100%;
	border-top: solid 25px #e9c4bc;
	position: absolute;
	left: 0;
	top: 35px;
	z-index: 1;
}

.nav_home {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.home {
	background-color: #f9f8f4;
}

.heading {
	text-align: center;
	font-weight: 100;
	padding-top: 30px;
	font-size: 1.5em;
}

section {
	background-color: #e9c4bc;
	padding: 12px;
	border-radius: 15px 15px 15px 15px;
	max-width: 1200px;
	margin: auto;
}

.about {
	text-align: center;
	font-size: 0.5em;
}

.homepage {
	text-align: center;
	font-size: 0.6em;
	font-family: 'Inria Sans', sans-serif;
}

.description {
	max-width: 200px;
}

.fashion {
	border-radius: 15px;
	max-width: 200px;
	text-align: center;
	padding-top: 30px;
	max-height: 400px;
}

#slidewrap {
	text-align: center;
}

#images {
	display: none;
}

@media screen and (min-width: 810px) {
	.nav_home::after {
		top: 30px;
		border-top: solid 40px #e9c4bc;
		margin-top: 30px;
	}

	li a {
		font-size: 1.5em;
	}

	.heading {
		font-size: 1.8em;
	}

	.homepage {
		font-size: 1em;
	}

	.about {
		font-size: 1.5em;
	}

	.fashion {
		max-width: 750px;
	}

	.description {
		min-width: 1000px;
		font-size: 1.2em;
		padding: 30px;
	}
}