/* Header section */
.container {
	width: 100%;
	margin: auto;

	/* (top, right, bottom, left) Note: use auto to horizontally center the element within its container. */
}

.navbar {
	position: relative;
	display: flex;
	margin: auto;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
}

.navbar-brand {
	font-family: 'Inria', 'Roboto', serif;
	text-decoration: none;
	margin: 0;
	font-weight: bold;
	font-size: xx-large;
	margin-right: 2.5rem;
}

.navbar-brand p {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

/* End of header section */