a,
a:hover,
a:focus {
	text-decoration: underline;
	display: block;
	padding: 0.5rem 1rem;
	color: #000;
	font-size: 1.5em;
}

.navbar {
	position: relative;
	display: flex;
	margin: auto;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
}

.navbar-brand {
	font-family: 'Inria', 'Roboto', serif;
	text-decoration: none;
	margin: 0;
	font-weight: bold;
	font-size: xx-large;
	margin-right: 2.5rem;
}

.navbar-brand p {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

body {
	background: white;
	margin: 0;
	padding: 0;
}

h1 {
	color: #323536;
	font-family: 'Inria Serif', 'Roboto', serif;
	font-weight: 100;
	font-size: 250%;
	margin-top: 10;
}

p {
	color: #323536;
	font-family: 'Inria Serif', 'Roboto', serif;
	font-size: 150%;
}

h2 {
	color: #323536;
	font-family: 'Inria Serif', 'Roboto', serif;
	font-size: 200%;
}

.header {
	position: relative;
	text-align: center;
}

.headerimage {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	border-radius: 15px;
}

.topbaritems {
	display: grid;
	grid-template-columns: 10fr 10fr 10fr 10fr 10fr;
	justify-items: center;
	font-family: 'Inria Serif', 'Roboto', serif;
	color: #323536;
	font-size: 140%;
}

h1::after {
	content: '';
	display: block;
	background: #e9c4bc;
	width: 100%;
	height: 85px;
	position: absolute;
	left: 0;
	z-index: -1;
	top: -30%;
}

ul {
	list-style: none;
}

.sustainabilityfact {
	position: relative;
	text-align: center;
	color: black;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 6%;
	margin-right: 6%;
}

.header-logo {
	font-size: 200%;
}

.topbar-subhead-1 {
	margin-top: 6%;
}

.topbar-subhead-2 {
	margin-top: 6%;
}

.topbar-subhead-3 {
	margin-top: 6%;
}

.topbar-subhead-4 {
	margin-top: 6%;
}

.options {
	margin: 4%;
}

h3 {
	font-family: 'Inria Serif', 'Roboto', serif;
	color: #323536;
	font-weight: 100;
	font-size: 100%;
	margin-bottom: -10%;
}

h3::after {
	content: '';
	display: block;
	background: #e9c4bc;
	width: 100%;
	height: 80px;
	position: absolute;
	left: 0;
	top: -10px;
	z-index: -1;
}

@media screen and (min-width: 250px) {
	.headerimage {
		margin-top: 10%;
	}

	.topbaritems {
		font-size: 80%;
	}

	.header-logo {
		font-size: 150%;
	}
}

@media screen and (min-width: 700px) {
	.headerimage {
		margin-top: 5%;
	}

	.topbaritems {
		font-size: 100%;
	}

	.header-logo {
		font-size: 150%;
	}
}

@media screen and (min-width: 1000px) {
	.headerimage {
		margin-top: 5%;
	}

	.topbaritems {
		font-size: 130%;
	}

	.header-logo {
		font-size: 180%;
	}
}
