.nav_home::after {
	content: '';
	width: 100%;
	height: 100%;
	border-top: solid 50px #e9c4bc;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Inria Sans', sans-serif;
}

.home{
	background-color: #f9f8f4;
}

h1 {
	text-align: center;
	font-weight: 100;
	padding-top: 30px;
}

section {
	background-color: #e9c4bc;
	padding: 12px;
	border-radius: 15px 15px 15px 15px;
	max-width: 1200px;
	margin: auto;
}

.about{
	text-align: center;
}

.homepage{
	text-align: center;
	font-size: 1em;
	font-family: 'Inria Sans', sans-serif;
}

.image {
	text-align: center;
	padding-top: 20px;
	margin: auto;
	max-width: 1200px;
}

.fashion {
	border-radius: 20px 20px 20px 20px;
}
/*
// Load CSS Reset from NPM
// CSS resets "normalize" how browser styles are applied.
// Try commenting this out and saving. What changes in the browser?
//@import "~normalize.css";//

// An example of a partial.
// Check out the _typography.scss file to edit the CSS inside!
//@import "typography";//

// You can still write styles in this file too.
// Here's an example of how you could write media queries more easily with Sass.

//$large-phone: 500px;//
//$tablet-vertical: 768px;//
//$desktop: 1200px;//

// And some color variables.
// Look how much easier it is to keep track of what these are than hex codes!

//$red: #ab424a;//
//$orange: #dd7c00;//
//$green: #3b975f;//
//$blue: #4261ab;//

//.page-heading {//
	//color: $red;//

	// Sass lets you write your media queries inline if you want.
	// This is why I'm always forgetting I have to put the class inside
	// the media query in regular CSS. I never have to in Sass!
	// I like combining these with variables to make it easier to read
	// my media queries.

	//@media screen and (min-width: $large-phone) {//
		//color: $orange;//
	//}//

	//@media screen and (min-width: $tablet-vertical) {//
		//color: $green;//
	//}//

	//@media screen and (min-width: $desktop) {//
		//color: $blue;//
	//}//
//}//

*/

body {
	background: white;
	margin: 0;
	padding: 0;
}

h1 {
	color: #323536;
	font-family: 'Inria Serif', 'Roboto', serif;
	font-weight: 100;
	font-size: 400%;
}

p {
	color: #323536;
	font-family: 'Inria Serif', 'Roboto', serif;
	font-size: 150%;
}

h2 {
	color: #323536;
	font-family: 'Inria Serif', 'Roboto', serif;
	font-size: 200%;
}

.header {
	position: relative;
	text-align: center;
}

.headerimage {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	border-radius: 15px;
}

.topbaritems {
	display: grid;
	grid-template-columns: 10fr 10fr 10fr 10fr 10fr;
	justify-items: center;
	font-family: 'Inria Serif', 'Roboto', serif;
	color: #323536;
	font-size: 140%;
}

h1::after {
	content: '';
	display: block;
	background: #e9c4bc;
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	top: -10px;
	z-index: -1;
}

ul {
	list-style: none;
}

.sustainabilityfact {
	position: relative;
	text-align: center;
	color: black;
	margin-bottom: 10%;
	margin-left: 6%;
	margin-right: 6%;
}

.header-logo {
	font-size: 200%;
}

.topbar-subhead-1 {
	margin-top: 6%;
}

.topbar-subhead-2 {
	margin-top: 6%;
}

.topbar-subhead-3 {
	margin-top: 6%;
}

.topbar-subhead-4 {
	margin-top: 6%;
}

.options {
	margin: 4%;
}

h3::after {
	content: '';
	display: block;
	background: #d89b9f;
	width: 100%;
	height: 75px;
	position: absolute;
	left: 0;
	top: -20px;
	z-index: -1;
	border-radius: 15px;
}

h3 {
	font-family: 'Inria Serif', 'Roboto', serif;
	color: #323536;
	font-weight: 100;
	font-size: 150%;
}
