
ul::after {
	content: '';
	width: 100%;
	height: 100%;
	border-top: solid 50px #e9c4bc;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Inria Sans', sans-serif;
}

body {
	background-color: #f9f8f4;
}

h1 {
	text-align: center;
	font-weight: 100;
	padding-top: 30px;
}

section {
	background-color: #e9c4bc;
	padding: 12px;
	border-radius: 15px 15px 15px 15px;
	max-width: 1200px;
	margin: auto;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
	font-size: 1em;
	font-family: 'Inria Sans', sans-serif;
}

.image {
	text-align: center;
	padding-top: 20px;
	margin: auto;
	max-width: 1200px;
}

img {
	border-radius: 20px 20px 20px 20px;
}
